
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #001E36;
  color: white;
  overflow-x: hidden;
}
nav{
    background-color: #31A8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.title{
    color:black;
}
.hr{
    width: 100%;
    height: 2px;
    background-color: black;
    margin:  0;
    border: none;
}

header{
    position:sticky;
    width: 100%;
    background-color: #31A8FF;

    top: 0;
}
.btn{
    background-color: #001E36;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #001E36;
}

.logo{
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
  width: 40px;
  height: 40px;
}



.menu{
  display: flex;
  justify-content: space-between;
  font-size: 26px;
gap: 50px;
  align-items: center;
}

li{

  list-style: none;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu a.active{
  text-decoration: none;
  color: rgb(161, 17, 161);
}

.menu a:hover{
  text-decoration: none;
  color: rgb(161, 17, 161);
}

.container{
    display: flex;
    justify-content: space-around;
}

.info{
    width: 40%;
}
section{
    width: 80%;
    margin: 0 auto;
    padding:  50px 0;
}

.conts{
    background-image: url('media_1090c64a0fad78bbdf8c804f7baeb580d83c7ad15.webp');
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contss{
    background-image: url('media_1ec754dea686531396d8df8c803133c2aca05b242.webp');
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contsss{
    background-image: url('videoframe_11733.png');
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover; /* Adjusts the size of the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;

}

.inf{
    color: #001E36;
    width: 30%;
    padding: 180px;
    
    
}
.infss{
    font-size: 32px;
}
.infss2{
    font-size: 18px;
}



.infos{
    color: #001E36;
    width: 30%;
}

footer{
    width: 25%;
    margin: 0 auto;
    padding: 10px 0;
}




.content{
    width: 85%;
    margin-left: 15%;
}

.use-main{
    width: 85%;
    margin:0 auto;
}

.images{
    width: 70%;
    margin: 0 auto;
    display: block;
}